.header {
  grid-area: h;
  background-color: #222;
  color: #fff;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 20px;
}
.header img {
  width: 30px;
}
.login a {
  color: #F652A0;
}

.btn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #CE2380;
  /* color:  #7c7c7c2b; */
  color: #fff;
}